<div class="container disable-container">
  <h4>Disable Account</h4>
<p class="disableAccount">
  This may be a temporary action. 
  When you disable your account, your personal information and data remain
  securely stored in the system and are not deleted. However, your account will
  no longer be visible or accessible to other users. 
  The system will deactivate your account and remove your name and photo from most of what you have shared.
</p>
<div class="d-flex disable-wrapper">
<button (click)="disableAccount()" class="btn btn-danger">
  <i class="fa fa-lock" aria-hidden="true"></i> Disable Account
</button>
</div>
</div>
