.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
}

.pagination-container {
    margin-top: auto; 
}

.manage-choose{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn-likes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #9F5BDC;
    background-color: #fff;
    border-color: #9F5BDC;
    transition: background-color 0.3s;
}
.btn-likes.active{
    background-color: #9F5BDC;
    border-color: #9F5BDC;
    color: #fff;
}
.btn-likes:hover{
    background-color: #9F5BDC;
    border-color: #9F5BDC;
    color: #fff;
}




