.container-lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
    height: auto;
    font-family: 'Lato', sans-serif;
}

.pagination-container {
    margin-top: auto; 
}

.tab-menus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.manage-choose{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn-likes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #9F5BDC;
    background-color: #fff;
    border-color: #9F5BDC;
    transition: background-color 0.3s;
}
.btn-likes.active{
    background-color: #9F5BDC;
    border-color: #9F5BDC;
    color: #fff;
}
.btn-likes:hover{
    background-color: #9F5BDC;
    border-color: #9F5BDC;
    color: #fff;
}

.location-bars {
    width: 19em;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.member-card-container{
    width: 100%;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    width: 100%;
}

.pagination a, .pagination.pagination-1 span {
    border: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.4);
    background: transparent;
    border: 2px solid #9F5BDC;
    margin-right: 8px;
    -webkit-box-shadow: 0px 10px 27px -20px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 10px 27px -20px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 10px 27px -20px rgba(0, 0, 0, 0.33);
}
@media (max-width: 767px) {

    .member-card-container {
        display: block;
        margin: 20px;
        width: 100%;
      }
}


@media (min-width: 768px) and (max-width: 991px) {
  
  .member-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 992px) {
    
    .member-card-container {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      gap: 20px;
    }
}


