<div class="container">
    <div class="text-center mt-3">
        <h2>Member Management</h2>
    </div>

    <div class="like-lists">
        <div class="manage-choose">
            <div class="btn-group">
                <button class="btn btn-primary btn-likes" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I
                    like</button>
                <button class="btn btn-primary btn-likes" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members
                    who like me</button>
                <button class="btn btn-primary btn-likes" btnRadio="connected" [(ngModel)]="predicate"
                    (click)="loadLikes()">Members connected</button>
                <button class="btn btn-primary btn-likes" btnRadio="recommend"  [(ngModel)]="predicate" (click)="loadRecommendedMembers()">Members
                    recommended</button>
            </div>
        </div>  
        <div class="row mt-3">
            <div class="col-3" *ngFor="let member of members">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
    </div>

    <div class="pagination-container d-flex justify-content-center" *ngIf="pagination">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>