.row{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 -15px -15px;
    position: absolute;
    left: 12%;
    width: 85%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background: linear-gradient(120deg,#a6c0fe 0%,#f68084 100%);
    border-bottom: 1px solid rgba(111, 132, 187, 0.316);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-family: helvetica,sans-serif;
}

td {
    vertical-align: middle !important;
    box-sizing: border-box;
}