<div class="card">
    <div class="card-body" #scrollMe style="overflow: scroll; height: 535px" [scrollTop]="scrollMe.scrollHeight">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div>

        <ul *ngIf="(messageService.messageThread$ | async)!.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle" src="{{message.senderPhotoUrl || './assets/user.png'}}"
                            alt="image of user">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderUsername !== username">(unread)</span>
                                <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderUsername !== username">(read {{message.dateRead |
                                    timeago}})</span>
                            </small>
                        </div>
                        <div *ngIf="message.messageType === 'Image'">
                            <img [src]="message.content" />
                        </div>
                        <div *ngIf="message.messageType === 'Video'">
                            <video controls [src]="message.content"></video>
                        </div>
                        <div *ngIf="message.messageType === 'Location'">
                            <button (click)="increaseZoom()">+</button>
                            <button (click)="decreaseZoom()">-</button>
                            <img [src]="getMapUrl(message.content.split(',')[0], message.content.split(',')[1])"
                                width="600">
                        </div>
                        <div *ngIf="message.messageType === 'File'">
                            <a href="{{message.content}}" target="_blank">{{message.fileName}}</a>
                        </div>
                        <div *ngIf="message.messageType === 'Audio'">
                            <audio controls [src]="message.content">
                            </audio>
                        </div>
                        <div
                            *ngIf="message.messageType !== 'Image' && message.messageType !== 'Video' && message.messageType !== 'Location'&& message.messageType !== 'File' && message.messageType !== 'Audio'">
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <div class="mb-3">
            <input type="file" (change)="onFileSelected($event)" />
            <button (click)="sendFileMessage()">Gửi file</button>
        </div>
        <div class="mb-3">
            <button class="btn btn-info" (click)="sendLocationMessage()">Gửi Vị Trí</button>
        </div>
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input name="messageContent" required [(ngModel)]="messageContent" type="text"
                    class="form-control input-sm" placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid || loading" class="btn btn-primary" type="submit">
                        Send <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>