.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 50px;
}

.message.ng-star-inserted {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.resize-btn-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
    justify-content: flex-end;
}

.resize {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(161, 255, 20);
    border: 2px solid rgb(161, 255, 20);
    color: black;
    font-weight: 900;
}
.send-files{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 10px 10px 5px;
    padding: 5px 5px 5px 5px;
}
.file-choose {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 60px;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
[type="file"] + label {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin: 0.2rem;
    outline: none;
    border-radius: 20px;
    padding: 0.4rem 20px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    letter-spacing: 1.2px;
  }
input[type=file] {
    color: transparent;
}

.upload-file {
    background-color: #00C2AE;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .upload-file:hover {
    background-color: #008B79; 
  }

  .sends {
    font-family: inherit;
    font-size: 15px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    margin-left: 20px;
  }
  
  .sends span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .sends svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .sends:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .sends:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .sends:hover span {
    transform: translateX(5em);
  }
  
  .sends:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .file-name {
    display: inline-block;
    flex-grow: 1;
    max-width: 300px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:20px;
    margin-left: 10px;
}

.send-locations{
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin: 0.2rem;
  outline: none;
  border-radius: 20px;
  padding: 0.4rem 20px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  letter-spacing: 1.2px;
  background-color: coral;
}

.form-control:focus, .form-control:invalid {
  border-color:  #ced4da;
  box-shadow: none; 
  outline: none;  
  background-color: #fff;
}