<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">Username</th>
                <th style="width: 40%;">Active roles</th>
                <th style="width: 10%;">Block users</th>
                <th style="width: 10%;">Deleted users</th>
                <th style="width: 30%;">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td>
                    <input type="checkbox" [checked]="user.isBlocked" (change)="toggleBlock(user)"
                        [disabled]="isAdmin(user)">
                    {{user.isBlocked ? 'Unblock' : 'Block'}}
                </td>
                <td>{{user.isDeleted}}</td>
                <td><button (click)="openRolesModal(user)" class="btn btn-info">Edit Roles</button></td>
            </tr>
        </tbody>
    </table>
</div>