<div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-hover">
        <thead>
            <tr>
                <th class="text-center">Username</th>
                <th class="text-center">Block users</th>
                <th class="text-center">Deleted users</th>
                <th class="text-center">Edit Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                    <img width="40" class="rounded-circle" src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
                                </div>
                            </div>
                            <div class="widget-content-left flex2">
                                <div class="widget-heading">{{user.username}}</div>
                                <div class="widget-subheading opacity-7">{{user.roles}}</div>
                                </div>
                        </div>
                    </div>
                </td>
                <td class="text-center block-user">
                    <label class="theme">
                        <input class="btn-block" checked="checked" type="checkbox" [checked]="user.isBlocked"
                            (change)="toggleBlock(user)" [disabled]="isAdmin(user)">
                        <svg fill="red" class="icon user-blocked" viewBox="-1.6 -1.6 19.20 19.20"
                            xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0.032">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <path
                                        d="M7,0A3.93,3.93,0,0,0,6,7.72,6,6,0,0,1,10.77,5a3.8,3.8,0,0,0,.17-1.07A3.93,3.93,0,0,0,7,0ZM5.3,9.12H4.5A4.52,4.52,0,0,0,0,13.62,2.34,2.34,0,0,0,0,14H5.81A6,6,0,0,1,5,11,6.17,6.17,0,0,1,5.3,9.12Z">
                                    </path>
                                    <path class="secondary"
                                        d="M14.54,7.46a5,5,0,1,0,0,7.08A5,5,0,0,0,14.54,7.46Zm-.71,6.37a4,4,0,1,1,0-5.66A4,4,0,0,1,13.83,13.83ZM12.89,8.2,11,10.09,9.11,8.2l-.91.91L10.09,11,8.2,12.89l.91.91L11,11.91l1.89,1.89.91-.91L11.91,11,13.8,9.11Z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                        <svg class="icon user-unblocked" viewBox="-1.6 -1.6 23.20 23.20"
                            xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0.0002">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                stroke="#CCCCCC" stroke-width="0.04"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <path
                                        d="M13.14,12H6.87A5.73,5.73,0,0,0,1,17.54,2.38,2.38,0,0,0,1,18H19a2.38,2.38,0,0,0,0-.46A5.72,5.72,0,0,0,13.14,12ZM10,10A5,5,0,1,0,5,5,5,5,0,0,0,10,10Z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </label>
                </td>
                <td class="text-center">
                    <i *ngIf="user.isDeleted" class="fa fa-ban" style="color: red; font-size: 1.5rem;"></i>
                </td>
                <td class="text-center">
                    <button (click)="openRolesModal(user)" class="btn btn-default" 
                       ><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>