<div class="fixed-container mt-5" *ngIf="!isLoggedIn" >
    <div style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button routerLink="/register" routerLinkActive="active" class="btn btn-primary btn-lg me-2">Register</button>
            <button routerLink="/login" routerLinkActive="active" class="btn btn-primary btn-info btn-lg">Login</button>
        </div>
    </div>
</div>
<div class="container mt-5" *ngIf="isLoggedIn">
    <app-member-list></app-member-list>
</div>

