<div class="form-create-btn">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="form-group">
      <label for="name">Search Interests:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <button class="c-button c-button--gooey" type="submit"> Search
      <div class="c-button__blobs">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo">
          </feColorMatrix>
          <feBlend in="SourceGraphic" in2="goo"></feBlend>
        </filter>
      </defs>
    </svg>

  </form>
  <button class="btn btn-create" (click)="openCreateModal(createLookingForTemplate)">Create New</button>
</div>

<div *ngFor="let item of interests" class="interest-lists">
  <i>{{item.name}}</i>
  <div class="interest-btn">
    <button class="update-btn" (click)="openUpdateModal(item, updateLookingForTemplate)">Update</button>
    <button class="delete-btn" (click)="onDelete(item.id)">Delete</button>
  </div>
</div>
<ng-template #updateLookingForTemplate>
  <div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    <form class="form" [formGroup]="updateForm" (ngSubmit)="updateInterest()">
      <div class="form-group">
        <label for="updateName">Name</label>
        <input type="text" id="updateName" class="form-control" formControlName="name" required>
      </div>
      <button type="submit" class="form-update-btn">Update</button>
    </form>
  </div>
</ng-template>
<ng-template #createLookingForTemplate>
  <div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    <form class="form" [formGroup]="createForm" (ngSubmit)="createInterest()">
      <div class="form-group">
        <label for="createName">Name</label>
        <input type="text" id="createName" class="form-control" formControlName="name" required>
      </div>
      <button type="submit" class="form-create-btn">Create</button>
    </form>
  </div>
</ng-template>