<div class="main-container">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" *ngIf="!submitted">
      <h2>Reset Password</h2>
      <div class="reset-form">
      <h4 for="newPassword">New Password:</h4>
      <div class="reset-input">
      <input 
        type="password" 
        id="newPassword" 
        name="newPassword" 
        placeholder="Enter your new password"
        [(ngModel)]="newPassword" required>
      </div>
      <div class="confirm-input">
      <h4 for="confirmPassword">Confirm Password:</h4>
      <input 
      type="password" 
      id="confirmPassword" 
      name="confirmPassword" 
      placeholder="Confirm your new password"
      [(ngModel)]="confirmPassword" required>
      </div>
    </div>
      <button class="reset-btn" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </form>
    <div *ngIf="message && submitted ">
      <p>{{ message }}</p>
      <div routerLink="/login" routerLinkActive="active">Click here to login</div>
    </div>
  </div>
</div>
  
  
  
  
  
  