@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');
.main-container {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    position: fixed;
    left: 0;
    overflow-y: auto;
}
  .container{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    top: 15%;
    right: 10%;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
  }
  
    form {
      position: absolute;
      top: 20px;
      right: 15%;
      margin: 0px auto;
      width: 40%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255,255,255,0.4);
      border-radius: 30px;
      box-shadow: 0px 0px 31px 0px rgb(0 0 0 / 10%);
    }
    
    h2 {
      margin: 20px 0 10px 0;
      font-size: 3.2rem;
      font-weight: 600;
      color: #00B99E;
      font-family: tangerine, sans-serif;
      z-index: 10;
    }
    
    .reset-form {
      width: 70%;
      margin-bottom: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    
    h4 {
      margin: 10px 0 5px 0;
      font-size: 1.2rem;
      font-weight: 200;
      font-family: 'Indie Flower', sans-serif;
    }
    input {
      width: 100%;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 300;
      padding: 7px 5px;
      border: none;
      background-color: rgb(255, 255, 255);
    }
    
    .reset-input, .confirm-input {
      width: 90%;
      border-bottom: 1px solid #a4a4a4;
    }
    
    i {
      width: 10%;
      color: rgba(0,0,0,0.3);
      padding-right: 7px;
    }
    
    .reset-btn {
      border: none;
      padding: 7px 20px;
      width: 50%;
      border-radius: 10px;
      font-size: 1rem;
      background-image: linear-gradient(43deg, hsla(340,100%,76%,1) 0%, hsla(269,100%,77%,1) 100%);
      color: white;
      font-weight: 600;
      margin: 10px 0px 20px 0px;
    }