<div class="main-box" *ngIf="member">
  <div class="row">
    <div class="col col-lg-12 col-xl-12">
      <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100" *ngIf="member">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 col-xl-12">
              <div class="card">
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="profile">
                    <div class="profile-info">
                      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                        class="img-fluid img-thumbnail mb-3">
                      <div class="profile-name">
                        <h4>{{member.userName}}</h4>
                        <p>{{member.knownAs}}</p>
                      </div>
                    </div>
                    <div class="edit-profile">
                      <button class="btn btn-outline-dark edit-btn" data-mdb-ripple-color="dark"
                        (click)="openEditModal(editModal)">
                        Edit Profile
                      </button>
                      
                      <ng-template #editModal #updateIntroTemplate>

                        <div class="modal-body">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="modalRef.hide()"></button>
                          <tabset class="member-tabset">

                            <tab heading="Edit Introduction">
                              <form class="form" [formGroup]="updateIntroForm" (ngSubmit)="updateIntroduction()">
                                <div class="form-group">
                                  <label for="introduction">Introduction</label>
                                  <div class="alert alert-info pb-0" *ngIf="updateIntroForm.dirty">
                                    <p><strong>Information: </strong>You have made changes. Any unsaved changes will
                                      be lost</p>
                                  </div>
                                  <textarea id="introduction" class="form-control" formControlName="introduction"
                                    required></textarea>
                                </div>
                                <button type="submit" class="btn-update"
                                  [disabled]="!updateIntroForm.valid || !updateIntroForm.dirty">
                                  Update
                                </button>
                              </form>
                            </tab>
                            <tab heading="Edit Looking For">
                              <app-edit-lookingfor (interestAdded)="reloadData()"></app-edit-lookingfor>
                            </tab>
                            <tab heading="Edit Interest">
                              <app-edit-interest (interestAdded)="reloadData()"></app-edit-interest>
                            </tab>
                            <tab heading="Edit Photos">
                              <app-photo-editor [member]="member"></app-photo-editor>
                            </tab>
                          </tabset>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <div class="profile-detail">
                        <strong><span class="icon">🙍</span>Fullname:</strong>
                        <p>{{member.fullName}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">📍</span>Location:</strong>
                        <p>{{member.city}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">🎂</span>Age:</strong>
                        <p>{{member.age}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">⚧️</span>Gender:</strong>
                        <p>{{member.gender}}</p>
                      </div>
                      <div class="profile-detail hobbies">
                        <strong><span class="icon">🔍</span>Looking fors:</strong>
                        <div class="hobbies-items" *ngFor="let lookingFor of member.lookingFors">
                          <li>
                            {{lookingFor.name}}
                          </li>
                          <button class="delete-btn" (click)="deleteLookingFor(lookingFor.id)">
                            <svg viewBox="0 0 448 512" class="svgIcon">
                              <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                              </path>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div>
                        <strong><span class="icon">💬</span>Introduction:</strong>
                        <p style="text-align: justify; text-justify: inter-word;">{{member.introduction}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">📅</span>Member since:</strong>
                        <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">🕰️</span>Last active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                      </div>
                      <div class="profile-detail">
                        <strong><span class="icon">🌆</span>City:</strong>
                        <p>{{member.city}}</p>
                      </div>
                      <div class="profile-detail hobbies">
                        <strong><span class="icon">🌟</span>Interests:</strong>
                        <div class="hobbies-items" *ngFor="let interest of member.interests">
                          <li>{{interest.name}}</li>
                          <button class="delete-btn" (click)="deleteInterest(interest.id)">
                            <svg viewBox="0 0 448 512" class="svgIcon">
                              <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                              </path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>