<div class="main-box">
    <div class="row" *ngIf="member">
        <div class="col-12">
            <tabset class="member-tabset">
                <tab class="introduction-tab" heading="About {{member.knownAs}}">
                    <button class="btn btn-primary" (click)="openModal(updateIntroTemplate)">Update
                        Introduction</button>
                </tab>
                <tab heading="Edit Looking For">
                    <app-edit-lookingfor (interestAdded)="reloadData()"></app-edit-lookingfor>
                </tab>
                <tab heading="Edit Interest">
                    <app-edit-interest (interestAdded)="reloadData()"></app-edit-interest>
                </tab>
                <tab heading="Edit Photos">
                    <app-photo-editor [member]="member"></app-photo-editor>
                </tab>
            </tabset>
        </div>
        <div class="center">
            <h1>Your profile</h1>
        </div>
        <div class="col-12">
            <div class="card card-profile">
                <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                    class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                    </div>
                    <div>
                        <strong>City:</strong>
                        <p>{{member.city}}</p>
                    </div>
                    <div>
                        <strong>Gender:</strong>
                        <p>{{member.gender}}</p>
                    </div>
                    <div>
                        <strong>Looking fors:</strong>
                        <li *ngFor="let lookingFor of member.lookingFors">{{lookingFor.name}}
                            <button (click)="deleteLookingFor(lookingFor.id)">Delete</button>
                        </li>
                    </div>
                    <div>
                        <strong>Introduction:</strong>
                        <p>{{member.introduction}}</p>
                    </div>
                    <div>
                        <strong>Interests:</strong>
                        <li *ngFor="let interest of member.interests">{{interest.name}}
                            <button (click)="deleteInterest(interest.id)">Delete</button>
                        </li>
                        
                    </div>
                    <div class="profile-btn">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="visibilitySwitch" [(ngModel)]="isVisible"
                                (ngModelChange)="setVisibility($event)">
                            <label class="form-check-label" for="visibilitySwitch">Visibility</label>
                        </div>
                        <button (click)="deleteAccount()" class="btn btn-danger">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #updateIntroTemplate>
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
                <form class="form" [formGroup]="updateIntroForm" (ngSubmit)="updateIntroduction()">
                    <div class="form-group">
                        <label for="introduction">Introduction</label>
                        <div class="alert alert-info pb-0" *ngIf="updateIntroForm.dirty">
                            <p><strong>Information: </strong>You have made changes. Any unsaved changes will
                                be lost</p>
                        </div>
                        <textarea id="introduction" class="form-control" formControlName="introduction"
                            required></textarea>
                    </div>
                    <button type="submit" class="form-update-btn"
                        [disabled]="!updateIntroForm.valid || !updateIntroForm.dirty">
                        Update
                    </button>
                </form>
            </div>
        </ng-template>
    </div>
</div>