<div class="main-box">
    <div class="row" *ngIf="member">
        <div class="col-8">
            <tabset class="member-tabset">
                <tab heading="About {{member.knownAs}}">
                    <p>{{member.introduction}}</p>
                    <ng-template #updateIntroTemplate>
                        <div class="modal-body">
                            <form [formGroup]="updateIntroForm" (ngSubmit)="updateIntroduction()">
                                <div class="form-group">
                                    <label for="introduction">Introduction</label>
                                    <textarea id="introduction" class="form-control" formControlName="introduction"
                                        required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!updateIntroForm.dirty">Update</button>
                            </form>
                            <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                        </div>
                    </ng-template>

                    <button class="btn btn-primary" (click)="openModal(updateIntroTemplate)">Update
                        Introduction</button>
                    <p>{{member.lookingFors}}</p>
                </tab>
                <tab heading="Edit Photos">
                    <app-photo-editor [member]="member"></app-photo-editor>
                </tab>
            </tabset>
        </div>
        <div class="center">
            <h1>Your profile</h1>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                    class="card-img-top img-thumbnail">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active:</strong>
                        <p>{{member.lastActive | timeago}}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                    </div>
                    <div>
                        <strong>City:</strong>
                        <p>{{member.city}}</p>
                    </div>
                    <div>
                        <strong>Gender:</strong>
                        <p>{{member.gender}}</p>
                    </div>
                    <button (click)="deleteAccount()" class="btn btn-danger">Delete Account</button>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="visibilitySwitch" [(ngModel)]="isVisible"
                            (ngModelChange)="setVisibility($event)">
                        <label class="form-check-label" for="visibilitySwitch">Visibility</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>