.img-thumbnail {
    width: 150px;
    height: 100%;
    border-radius: 50%;
    margin-top: 90px;
    z-index: 1
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: -10px;
}

.profile-name{
  display: flex;
  margin-left: 165px;
  flex-direction: column;
}

h4{
  text-transform: uppercase;
}

.profile-detail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}

.profile-detail p{
  margin-left: 10px;
}

.icon{
    margin-right: 10px;
    font-size: 1.2em;
}

.card-body {
    padding: 0 25px;
    margin: 10px;
}

.profile-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.main-box{
    display: flex;
    position: relative;
    margin: 100px;
    flex-wrap: wrap;
    align-items: center;
}

.row{
  width: 100%;
}


.introduction-tab.active {
    justify-content: flex-end;
    display: flex;
}


.modal-body{
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal-body button:active {
    scale: 0.95;
  }
  
  .modal-body .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .modal-body .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
  }
  
  .modal-body .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 16px;
  }


  .modal-body .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  
  .modal-body .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .modal-body .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }

.modal-body .btn-close{
    display: flex;
    align-self: flex-end;
}

.modal-body #introduction {
    height: 150px;
    width: 100%;
}

.btn-update {
  padding: 10px 10px;
  width: 105px;
  height: 45px;
  z-index: 1;
}
  

@media (max-width: 1023px) {
    .card-profile {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .card-profile {
        flex-direction: column;
    }
}
