@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
.fixed-container{
  background-image: url('src/assets/background/oooscillate-_1_.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  position: fixed;
  overflow-y: auto;
  right: 0;
}
.container{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  top: 30%;
  left: 5%;
  justify-content: center;
  margin-bottom: 10%;
  align-items: center;
}
.form-forgot {
    background-color: white;
    padding: 3.125em;
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 15px -1px #7938B6;
  }
  
  h2{
    color: #62BAAD;
    font-family: tangerine, sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .subtitle{
    margin: 15px;
    font-size: 1em;
    text-align: center;
  }
  
  #email {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  .submit {
    align-self: flex-end;
    padding: 8px;
    margin: 10px;
    outline: 0;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #6222A0 74%);
    color: #fff;
    cursor: pointer;
    line-height: 40px;
  }

  .submit span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 3px;
  }
  .submit:before{
     height: 0%;
     width: 2px;
  }
  .submit:after {
    width: 0%;
    height: 2px;
  }
  .submit:hover:before {
    height: 100%;
  }
  .submit:hover:after {
    width: 100%;
  }
  .submit:hover{
    background: transparent;
  }
  .submit span:hover{
    color: #6222A0;
  }
  .submit span:before,
  .submit span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #6222A0;
    transition: all 0.3s ease;
  }
  .submit span:before {
    width: 2px;
    height: 0%;
  }
  .submit span:after {
    height: 2px;
    width: 0%;
  }
  .submit span:hover:before {
    height: 100%;
  }
  .submit span:hover:after {
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    .form-forgot{
      width: 90%;
      height: 500px;
      justify-content: space-between;
    }

    h2{
      font-size: 5em;
    }

    .subtitle{
      margin: 15px;
      font-size: 2em;
      text-align: center;
  }

  #email{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 80px;
    font-size: 40px;
}

.submit {
  align-self: flex-end;
  padding: 8px;
  margin: 10px;
  outline: 0;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #6222A0 74%);
  color: #fff;
  cursor: pointer;
  line-height: 75px;
  width: 240px;
  height: 100px;
}

}

@media screen and (min-width: 1024px) and (max-width:1199px){
  .form-forgot{
    width: 90%;
    height: 400px;
    justify-content: space-between;
  }

  h2{
    font-size: 4em;
  }

  .subtitle{
    margin: 15px;
    font-size: 1.5em;
    text-align: center;
}

  #email{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 80px;
    font-size: 30px;
  }

  .submit {
    align-self: flex-end;
    padding: 8px;
    margin: 10px;
    outline: 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #6222A0 74%);
    color: #fff;
    cursor: pointer;
    line-height: 50px;
    width: 160px;
    height: 70px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .form-forgot{
    width: 70%;
    height: 300px;
    justify-content: space-between;
  }

  h2{
    font-size: 2.5em;
  }

  .subtitle{
    margin: 15px;
    font-size: 1em;
    text-align: center;
}

  #email{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }

  .submit {
    align-self: flex-end;
    padding: 8px;
    margin: 10px;
    outline: 0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #6222A0 74%);
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    width: 130px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .container{
    flex-direction: column;
  }
  .form-forgot{
    width: 70%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
  }

  h2{
    font-size: 1.7em;
  }

  .subtitle{
    margin: 15px;
    font-size: 0.6em;
    text-align: center;
    white-space: nowrap;
}

  #email{
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    font-size: 16px;
  }

  .submit {
    align-self: flex-end;
    padding: 8px;
    margin: 10px;
    outline: 0;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #6222A0 74%);
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    height: 50px;
  }
}
    
      