<div class="fixed-container">
<div class="container">
<form class="form-forgot" (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
  <h2 class="title">Forgot Password</h2>
  <label class="subtitle" for="email">Please enter your email to return your password</label>
  <input placeholder="Enter your email" type="email" id="email" name="email" [(ngModel)]="email" required email>
  <button class="submit" type="submit" [disabled]="!forgotPasswordForm.valid"><span>Send Reset Link</span></button>
</form>
</div>
</div>



