@import url('https://fonts.cdnfonts.com/css/museomoderno');
@import url('https://fonts.googleapis.com/css?family=Lobster');
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 300px; 
  background: #f0f0f0;
  border-radius: 20px;
}

.map {
  background: #fff;
  border-radius: 20px;
}

.text-container {
  overflow: hidden; 
  position: relative; 
  padding: 5px;
  background: #fff;
  border-radius: 10px;
}
.title {
  font-family: 'MuseoModerno', sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin: 20px;
  color: #00819C;
  font-style: italic;
  text-align: end;
  
            animation: title 0.5s linear forwards;
  }

  @keyframes title {
    0% {
      -webkit-transform: translateX(30px);
              transform: translateX(30px);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  
}
.text-box{
  font-size: 26px;
  color: #9A64CE;
  font-family: 'Lobster', sans-serif;
  line-height: 1.5;
  text-align: center;
  padding: 5px;
  -webkit-animation: text-box 0.5s linear both;
	        animation: text-box 0.5s linear both;
}


@keyframes text-box {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sub-title {
  font-family: "Gambetta", serif;
  font-weight: bold;
  margin-top: 50px;
  font-size: 2.5em;
  color: #dda0dd;
  font-style: italic;
}
.location-bars {
  width: 9em;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.filters-btn-group {
  align-items: center;
  flex-direction: row;
  padding-top: 50px;
}
.btn-filter-1 {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  vertical-align: middle;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
}

.btn-filter-2 {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  vertical-align: middle;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px;
  --bs-btn-color: #db729a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #db729a;
  --bs-btn-active-bg: #db729a;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d75989;
  --bs-btn-hover-border-color: #ff5798;
  --bs-btn-active-border-color: #d75989;
  --bs-btn-disabled-bg: #db729a;
  --bs-btn-disabled-border-color: #db729a;
}

.filter-mode {
  width: 150px;
  height: 50px;
  border-radius: 80px;
  vertical-align: middle;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  --bs-btn-color: #419268;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #419268;
  --bs-btn-active-bg: #419268;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #419268;
  --bs-btn-hover-border-color: #00937c;
  --bs-btn-active-border-color: #188172;
  --bs-btn-disabled-bg: #419268;
  --bs-btn-disabled-border-color: #419268;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    height: auto;
}

.map{
  height: 250px;
}
  .member-card-container {
    display: block;
    margin: 20px;
  }

  .location-bars {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin: 20px 50px;
    align-items: center;
  }

  .filters-btn-group {
    align-items: center;
    flex-direction: row;
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
  }

  .title {
    font-size: 50px;
    line-height: 0.5;
    animation: title-mobile 0.5s linear forwards;
  }
  @keyframes title-mobile {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-80px);
    }
  
  }
  
  .filter-form{
    flex-wrap: wrap;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  .filter-form-select{
    width: 150px;
    height: 50px;
    outline: none !important;
    border-color: #aaa !important;
    border-radius: 30px;
    padding: 12px;
    margin: 10px;
  }

  .text-container {
    height: 250px;
  }

  .text-box{
    margin-top: 15px;
    font-size: 18px;
    text-align: justify;
    position: absolute;
    bottom: 60px;
    padding: 20px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .filter-form{
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
  }
  .member-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .location-bars {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  .filters-btn-group {
    align-items: center;
    flex-direction: row;
    padding-top: 50px;
    margin-left: 25px;
    width: 100%;
    justify-content: center;
  }
  .filter-form-select{
    width: 100%;
    height: 50px;
      outline: none !important;
      border-color: #aaa !important;
      border-radius: 30px;
      padding: 12px;
  
  }
}

@media (min-width: 992px) {
  .filter-form{
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
  }
  .member-card-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
  }
  .location-bars {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    align-items: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.filters-btn-group {
  align-items: center;
  flex-direction: row;
  padding-top: 50px;
  justify-content: center;
  width: 100%;
}
.filter-form-select{
  width: 100%;
  height: 50px;
    outline: none !important;
    border-color: #aaa !important;
    border-radius: 30px;
    padding: 12px;

}
}

.modal-body{
  background: linear-gradient(#fff, #fff) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: rgb(11, 11, 11);
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
 .btn-close{
  display: flex;
  align-self: flex-end;
}

.member-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
  margin:  0 20px;
  padding: 0 20px;
}

.btn-filter-open{
  width: 150px;
  height: 50px;
  border-radius: 80px;
  vertical-align: middle;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  --bs-btn-color: #db729a;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #db729a;
  --bs-btn-active-bg: #db729a;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d75989;
  --bs-btn-hover-border-color: #ff5798;
  --bs-btn-active-border-color: #d75989;
  --bs-btn-disabled-bg: #db729a;
  --bs-btn-disabled-border-color: #db729a;
}