<div class="navigation" [class.active]="sidebarActive">
  <ul>  
    <li>
      <div class="toggle" (click)="sidebarActive = !sidebarActive"></div>
    </li>
    <li class="sidebar-content">
      <a routerLink="/" routerLinkActive="active">
        <span class="icon"><i class="fa fa-home"></i></span>
        <span class="title">Dashboard</span>
      </a>
    </li>
    <ng-container *ngIf="accountService.currentUser$  | async">
    <!-- <li class="sidebar-content">
      <a  routerLink="/home" 
      [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          <span class="icon"><i class="fa fa-id-card-o"></i></span>
          <span class="title">Matches</span>
        </a>
    </li> -->
    <li class="sidebar-content">
      <a routerLink="/messages" routerLinkActive="active">
        <span class="icon"><i class="fa fa-comments"></i></span>
        <span class="title">Messages</span>
      </a>
    </li>
    <li class="sidebar-content">
      <a routerLink="/lists" routerLinkActive="active">
        <span class="icon"><i class="fa fa-list"></i></span>
        <span class="title">Lists</span>
      </a>
    </li>
    <li class="sidebar-content" *appHasRole="['Admin', 'Moderator']">
      <a routerLink="/admin" routerLinkActive="active">
        <span class="icon"><i class="fa fa-user"></i></span>
        <span class="title">Admin</span>
      </a>
    </li>
    </ng-container>
  </ul>
  
</div>
