<form class="form-check-account" (ngSubmit)="changePassword()">
    <h4>Change Password
      <span class="icon">🔐</span>
    </h4>
    <div class="input-container">
      <label for="oldPassword" class="changepw">Old Password</label>
      <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
      <div class="underline"></div>
    </div>
    <div class="input-container">
      <label for="newPassword" class="changepw">New Password</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      <div class="underline"></div>
    </div>
    <div class="input-container">
      <label for="confirmPassword" class="changepw">Confirm Password</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      <div class="underline"></div>
    </div>          
    <button type="submit" class="btn-update">
         Change Password
    </button> 
</form>