.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-primary {
    background: #9F5BDC !important;
}

.navbar-brand {
    font-family: "Satoshi", sans-serif;
    font-size: 1.7em;
}

.nav-item {
    font-family: "Satoshi", sans-serif;
}

.profile{
    display: flex;
    flex-direction: row;
}

.profile_image{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.avatar{
    display: inline;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
}

.profile_name{
    margin: 5px;
}

.dropdown-menu.show{
    inset: 100% 5% auto auto !important;
}

.username{
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

.logo-img {
    max-height: 40px;
    display: inline;
}

.logo-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}